.ant-targets*
.classpath
.gradle
.idea
*.ipr
*.iws
*.iml
.project
.settings
/_eclipse/
/local.properties
build
eclipse-build
ivy*
javadocs
lib
maven-testng-plugin-1.2.jar
nb-configuration.xml
out
src/generated
target
test-output
test-output-tests
testng.iml
z_build
.DS_Store
outputDir/
**/Version.java
**/bin/
