.ant-targets*
.classpath
.gradle
.idea
*.iml
.project
.settings
/_eclipse/
/local.properties
TESTNG-*
build
eclipse-build
gradle.properties
ivy*
javadocs
kobaltBuild
lib
maven-testng-plugin-1.2.jar
nb-configuration.xml
out
src/generated
target
test-output
test-output-tests
testng.iml
z_build
.kobalt
.DS_Store

