.ant-targets*
.classpath
.gradle
.project
.settings
/_eclipse/
TESTNG-*
build
eclipse-build
ivy*
javadocs
lib
maven-testng-plugin-1.2.jar
nb-configuration.xml
src/generated
src/test/java/test/ignore
target
test-output
test-output-tests
z_build
gradle.properties
