ul {
    margin: 0px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navigator-selected {
    background: #ffa500;
}

.wrapper {
    overflow: hidden;
}

.navigator-root {
    margin-top: 60px;
    float: left;
    width: 400px;
    position: fixed;
}

.navigator-root.fixed {
    position: fixed;
    top: 0;
}

.main-panel-root {
    margin-top: 60px;
    margin-left: 400px;
    width: 74%;
}

.suite {
    margin: 0px 10px 10px 0px;
    background-color: #fff8dc;
}

.suite-name {
    padding-left: 10px;
    font-size: 25px;
    font-family: Times;
}

.main-panel-header {
    padding: 5px;
    background-color: #9FB4D9; //afeeee;
    font-family: monospace;
    font-size: 18px;
}

.main-panel-content {
    padding: 5px;
    margin-bottom: 10px;
    background-color: #DEE8FC; //d0ffff;
}

.rounded-window {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

.rounded-window-top {
    border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    border-style: solid;
    border-width: 1px;
}

.light-rounded-window-top {
    border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
}

.rounded-window-bottom {
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
}

.method-name {
    font-size: 14px;
    font-family: monospace;
}

.method-content {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    margin-bottom: 10;
    padding-bottom: 5px;
    width: 80%;
}

.parameters {
    font-size: 14px;
    font-family: monospace;
}

.stack-trace {
    whitespace: pre;
    font-family: monospace;
    font-size: 12px;
    margin-top: 0px;
    margin-left: 20px;
}

.testng-xml {
    font-family: monospace;
}

.method-list-content {
    margin-left: 10px;
}

.navigator-suite-content {
    margin-left: 10px;
    font: 12px 'Lucida Grande';
}

.suite-section-title {
    margin-top: 10px;
    width: 80%;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    font-family: Times;
    font-size: 18px;
    font-weight: bold;
}

.suite-section-content {
    list-style-image: url(bullet_point.png);
}

.top-banner-root {
    position: fixed;
    width: 98%;
    padding: 5px;
    margin: 0px 0px 5px 0px;
    height: 45px;
    background-color: #0066ff;
    font-family: Times;
    color: #fff;
    text-align: center;
}

.top-banner-title-font {
    font-size: 25px;
}

.test-name {
    font-family: 'Lucida Grande';
    font-size: 16px;
}

.suite-icon {
    padding: 5px;
    float: right;
    height: 20;
}

.test-group {
    font: 20px 'Lucida Grande';
    margin: 5px 5px 10px 5px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    padding: 5px;
}

.test-group-name {
    font-weight: bold;
}

.method-in-group {
    font-size: 16px;
    margin-left: 80px;
}
