<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AfterTestMethod Ordering" parallel="false" thread-count="1" verbose="2">
    <!-- 
    <test name="package-@afterTestMethod">
        <packages>
            <package name="test.confordering" />
        </packages>
    </test>
    -->

    <test name="single-class-@afterTestMethod">
        <classes>
            <class name="test.confordering.ConfigurationMethodOrderingTest" />
        </classes>
    </test>

</suite>