[![Build Status](https://travis-ci.org/cbeust/testng.svg)](https://travis-ci.org/cbeust/testng)

Welcome to TestNG ${version}

Please note that even though the .zip distribution contains the TestNG sources,
you will not be able to build the software with them because we decided
not to include the external jar files in order to keep the size down.

If you want to build TestNG, please sync to the GitHub repository at https://github.com/cbeust/testng.

--
The TestNG team
