# This is a basic workflow to help you get started with Actions

name: Publish to Maven Central

# Trigger this workflow whenever code is pushed to "master" branch.defaults:
# We would like to publish to maven central for both snapshot and release versions.
on:
  workflow_dispatch:
    inputs:
      release_candidate:
        description: The release candidate number
        required: true
        default: '1'
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v3.5.0

    - name: Gradle wrapper validation
      uses: gradle/wrapper-validation-action@v1.0.6

    # Runs a single command using the runners shell
    - name: Install gpg secret key
      run: |
        cat <(echo -e "${{ secrets.GPG_PASSPHRASE }}") | gpg --batch --import
        gpg --export-secret-keys >$HOME/.gnupg/secring.gpg
        gpg --list-secret-keys --keyid-format LONG
        ls -l $HOME/.gnupg

    # FIXME Check https://github.com/allure-framework/allure2/blob/430255d8cf5c236ed29bc0df0b72dcd9389c3df9/.github/workflows/release.yaml
    - name: Publish Release Candidate
      run: |
        ./gradlew -PghGitSourceUsername=cbeust -PghGitSourcePassword=${{ secrets.GITHUB_TOKEN }} -PghDryRun -PghNexusUsername=${{ secrets.NEXUS_USERNAME }} -PghNexusPassword=${{ secrets.NEXUS_PASSWORD }} -Psigning.secretKeyRingFile=$HOME/.gnupg/secring.gpg -Psigning.password="" -Psigning.keyId=${{ secrets.GPG_PRIVATE_KEY }} -Prc=${{ github.event.inputs.release_candidate }} prepareVote

    - name: Display next step
      run: |
        echo "Now run 'release-maven-central.yml' workflow using the same Release Candidate Number (rc #)"
