name: Update Gradle Wrapper

on:
  schedule:
    - cron: '0 0 * * *' # Every day at 00:00 UTC

jobs:
  update-gradle-wrapper:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Update Gradle Wrapper
        uses: gradle-update/update-gradle-wrapper-action@v1
